<svg width="420" height="420">
    {{#with aStar.last as |task|}}
        {{#each task.progress as |row i|}}
            {{#each row as |element j|}}
                {{#if (eq element 2)}}
                    <rect width=60 height=60 y={{mult i 60}} x={{mult j 60}} style="fill:rgb(0, 0, 0);stroke-width:3;stroke:rgb(212, 212, 212)" />
                {{else if (eq element 0)}}
                    <rect width=60 height=60 y={{mult i 60}} x={{mult j 60}} style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(212, 212, 212)" />
                {{else if (eq element 1)}}
                    <circle cx={{add 30 (mult j 60)}} cy={{add 30 (mult i 60)}} r=20 stroke="black" fill="red" />
                {{/if}}
            {{/each}}
        {{/each}}
    {{/with}}
</svg>
<button onclick={{perform aStar}}>A* Search Task</button>

<svg width="420" height="420">
    {{#each progress as |row i|}}
        {{#each row as |element j|}}
            {{#if (eq element 2)}}
                <rect width=60 height=60 y={{mult i 60}} x={{mult j 60}} style="fill:rgb(0, 0, 0);stroke-width:3;stroke:rgb(212, 212, 212)" />
            {{else if (eq element 0)}}
                <rect width=60 height=60 y={{mult i 60}} x={{mult j 60}} style="fill:rgb(255, 255, 255);stroke-width:3;stroke:rgb(212, 212, 212)" />
            {{else if (eq element 1)}}
                <circle cx={{add 30 (mult j 60)}} cy={{add 30 (mult i 60)}} r=20 stroke="black" fill="red" />
            {{/if}}
        {{/each}}
    {{/each}}
</svg>
<button onclick={{action "doAStar" progress}}>A* Search</button>


{{yield}}